body
{
    font-family:微软雅黑;
    }
a.brand:hover{
background-color:#606060 !important;
}
.slide-img a,.slide-img a:hover
{
display:block;
padding:4px 2px 4px 2px;
}

/*--版权底*/
#footer{
text-align:center;
color:#a8a8a8;
font-size:12px;
}
#footer  div
{
 padding:30px 0 15px 0;
}
#footer a{
color:#a8a8a8;
}
#footer a:hover
{
color:#0287c7;
text-decoration:none;
}
/*导航底*/

#footer,.bottom-nav
{
    background-color: #f2f2f2;
}
.bottom-nav
{
    padding : 50px 0;
    font-size: 12px;
     border-bottom:1px solid #ddd;
}
.bottom-nav ul
{
    list-style-type: none;
}
.bottom-nav ul a
{
    color: #bbb;
    
}
.bottom-nav ul .t a
{
    color: #999 ;
}
.bottom-nav ul a:hover,.bottom-nav ul .t a:hover
{
    text-decoration:none;
    color:#3D9AD0;
    }
