.c
{
  padding:0;
  text-align: center;
  background-color: #5C5C5C;
}
.list 
{
  position:relative;
}
.list .down
{
  position:absolute;
  left:49%;
  bottom:20px;
  cursor: pointer;
  display: none;
}
.list a:hover .down
{
  
  display:block;
}