.product-top
{
    padding-top:15px;
    background-color: #F9F9F8 !important;
   
}
.product-top>.container>.row>div
{
line-height:1.1;
    }
.product-top a
{
    color: #A4A09B !important;
    text-decoration: none;
   
}
.product-top a:hover
{
    color: #3D9AD0 !important;
}
 

